In [3]:
def say_hello():
    print("hello")
    print('how')
    print('are')
    print('you')

In [4]:
say_hello()

hello
how
are
you

In [5]:
def say_hello(name):
    print(f'Hello {name}')

In [7]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [8]:
say_hello('Jose')

Hello Jose

In [9]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [10]:
say_hello()

Hello Default

In [13]:
def add_num(num1, num2):
    return num1+num2

In [14]:
add_num(10,20)

30

In [15]:
def print_result(a,b):
    print(a+b)

In [18]:
def return_result(a,b):
    return a+b

In [19]:
result = print_result(10,20)

30

In [20]:
result

In [25]:
type(result)

int

In [27]:
result = return_result(10,20)

In [28]:
result

30

In [29]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [30]:
result=myfunc(10,20)

30

In [31]:
result

30

In [35]:
def sum_numbers(num1, num2):
    return num1+num2

In [36]:
sum_numbers(10,20)

30

In [37]:
#keep an eye on what passes through
sum_numbers('10','20')

'1020'

**LOGIC WITH FUNCTIONS**

In [39]:
2 % 2

0

In [40]:
3 % 2

1

In [41]:
41 % 40
# only remainder returns

1

In [42]:
20 % 2

0

In [43]:
20 % 2 == 0

True

In [44]:
21 % 2 == 0

False

In [45]:
def even_check(number):
    result = number % 2 == 0
    return result

In [46]:
even_check(20)

True

In [47]:
even_check(21)

False

In [48]:
def even_check(number):
    return number % 2 == 0

In [49]:
even_check(20)

True

In [50]:
# return true if any number is even inside a list

In [57]:
def check_even_list(num_list):
    for number in num_list:
        if number %2 == 0:
            return True
        else:
            pass
    
    return False

In [58]:
check_even_list([1,3.5])

False

In [59]:
check_even_list([2,4,5])

True

In [60]:
check_even_list([1,4,7,10])

True

In [63]:
def check_even_list(num_list):
    #return all the even numbers in a list
    
    even_numbers = []
    
    for number in num_list:
        if number %2 == 0:
            even_numbers.append(number)
           
        else:
            pass
        
    return even_numbers

In [65]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

**TUPLE UNPACKING**

In [69]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [70]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [71]:
for ticker, price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [73]:
for ticker, price in stock_prices:
    print(price+0.1*price)

220.0
440.0
110.0

In [85]:
work_hours=[('Abby',100),('Billy',4000),('Cassie',800)]

In [86]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month =''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max=hours
            employee_of_month= employee
        else:
            pass
    
    #Return
    return(employee_of_month, current_max)

In [87]:
result = employee_check(work_hours)

In [88]:
result

('Billy', 4000)

In [89]:
name,hours = employee_check(work_hours)

In [90]:
name

'Billy'

In [91]:
hours

4000

**INTERACTIONS BETWEEN FUNCTIONS**

In [93]:
def myfunc(name = 'Name'):
    print('Hello'+name)

In [94]:
myfunc()

HelloName